<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/customer}">Customer Management</a>
			</li>
		</ul>
	</div>
	<br/>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<div class="card-body">
				<h1 class="text-center" th:text="${id !=null?'Edit Customer':'Add Customer'}"></h1>
					<form action="/customer" th:object="${customer}" method="POST">
					<input type="hidden" name="id" th:field="*{id}" class="form-control"/>
						<div class="form-group">
							<label> First Name </label>
							<input type="text" name="firstName" th:field="*{firstName}" class="form-control"
								placeholder="Enter First Name" required/>
						</div>

						<div class="form-group">
							<label> Last Name </label>
								<input type="text" name="lastName" th:field="*{lastName}" class="form-control"
									placeholder="Enter Last Name" required/>
						</div>

						<div class="form-group">
							<label> Date of birth </label>
								<input type="date" name="Date of birth" th:field="*{dateOfBirth}" class="form-control"
									placeholder="Enter Date of birth" required/>
						</div>

						<div class="form-group">
							<label> Mobile number </label>
								<input type="tel" id="mobileNumber" th:field="*{mobileNumber}" class="form-control"
									placeholder="Enter Mobile Number" onkeydown="return checkPhoneKey(event.key)" required/>
						</div>

						<div class="form-group">
							<label> Address line 1 </label>
								<input type="text" name="address1" th:field="*{address1}" class="form-control"
									placeholder="Enter Address line 1" required/>
						</div>

						<div class="form-group">
							<label> Address line 2 </label>
								<input type="text" name="address2" th:field="*{address2}" class="form-control"
									placeholder="Enter Address line 2" required/>
						</div>

						<div class="form-group">
							<label> Age </label>
								<input type = "number" name = "age" th:field = "*{age}" class = "form-control" placeholder = "Enter Age"
									min = 1 max = 100 required/>
						</div>

						<div class="form-group">
							<label>Gender</label><br>
								<input type="radio" id="male" name="gender" value="1" th:field="*{gender}">
									<label for="male">Male</label>
								<input type="radio" id="female" name="gender" value="2" th:field="*{gender}">
									<label for="female">Female</label>
								<input type="radio" id="other" name="gender" value="3" th:field="*{gender}">
									<label for="other">Other</label>
						</div>

						<div class="form-group">
							<label> Email </label>
								<input type="text" name="email" th:field="*{email}" class="form-control"
									placeholder="Enter Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>
<script>
function checkPhoneKey(key) {
	return (key >= '0' && key <= '9') ||
	['+','(',')','-','ArrowLeft','ArrowRight','Delete','Backspace',' ','Tab'].includes(key);
	}
</script>
</html>